---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title">{{post.title}}</h2>
    <p>{{ post.content }}</p>
    <a class="link-minimal" href ="{{post.url}}"><time class="post-date" datetime={{ post.date }}>{{post.date | date: '%B %d, %Y'}}</time></a> <span class="post-license">{% if post.license %} &middot; {{ post.license }}{%endif%}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}