---
layout: default
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<script>
  function filterArticles(tag) {

    // Retrieve tag + filters.
    tag = tag || window.location.hash.substring(1);
    var filters = [
      document.getElementById("article"),
      document.getElementById("video")
    ];

    // Retrieve articles list and iterate.
    const articles = [...document.getElementsByTagName('article')]
    articles.forEach((article) => {

      // Get article content (article/video) and its tags.
      const articleContent = article.dataset.articleContent;
      const articleTags = JSON.parse(article.dataset.tags ? article.dataset.tags : '[]');

      var displayArticle = false;
      // TODO: Refactor code.
      if (tag === '')
      {
        // Iterate over filters and display article when conditions are fullfilled.
        filters.forEach((filter) => {
          if (articleContent === filter.id && filter.checked)
          {
            article.style.display = "flex";
            displayArticle = true;
          }
        })
        if (!displayArticle)
        {
            article.style.display = "none";
        }
      }
      else
      {
        // Iterate over filters and display article when conditions are fullfilled.
        filters.forEach((filter) => {
          if (articleContent === filter.id && filter.checked && articleTags.some(articleTag => articleTag === tag))
          {
            article.style.display = "flex";
            displayArticle = true;
          }
        })
        if (!displayArticle)
        {
            article.style.display = "none";
        }
      }

    });
  }
</script>
<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <div class="sidebar-content">
    <h3>Cat&#233gories</h3>
    <ul class="tags">
      <!--  cycles through tag list and creates header row of all tags used in site with accompanying per-tag counts...-->
      {% for this_word in tag_words %}
      <li onclick="filterArticles('{{ this_word }}')"><a href="#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span>({{ site.tags[this_word].size }})</span></a></li>
      {% endfor %}
    </ul>
    <h3>Types de contenu</h3>
    <ul class="content-type-filters">
      <li>
        <input type="checkbox" id="article" name="article" onclick="filterArticles()" checked>
        <label for="article"> Articles</label><br>
      </li>
      <li>
        <input type="checkbox" id="video" name="video" onclick="filterArticles()" checked>
        <label for="video"> Vid&#233os</label><br>
      </li>
    </ul>
  </div>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contactez-nous</h3>
      <ul>
        {% if site.social-twitter %}
        <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% else %}
        <li><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
        <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% else %}
        <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
        <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
        <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
        <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
        <li class="email"><a href="mailto:example.david@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
