---
layout: main
---

<article class="article-page">
  <div class="page-content">
    {% if page.image %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/" | prepend: site.baseurl | append :
        page.image}} alt="{{page.title}}"> {% if page.fig-caption %}
        <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div>
    <!-- End Page Cover Image -->
    {% else %} {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date">
          <span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <!-- <a
            href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}"
            title="Share on Twitter"
            rel="nofollow"
            target="_blank"
            >Twitter</a
          >
          <a
            href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
            rel="nofollow"
            target="_blank"
            title="Share on Twitter"
            >Twitter</a
          > -->
          <a
            href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on X"
          >
            twitter / X
          </a>
          <a
            href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on LinkedIn"
          >
            linkedin
          </a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag"
            >&#35; {{ tag }}</a
          >
          {% endfor %}
        </div>
      </div>
      <!-- {/% include disqus.html /%} -->
    </div>
    <!-- End Wrap Content -->
  </div>
  <!-- End Page Content -->
</article>
<!-- End Article Page -->
